.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  //   &.fade-out {
  //     opacity: 0;
  //   }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;

    &:hover {
      background: rgb(240, 240, 240);
    }
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: popupAnimation 0.3s ease-in-out forwards;
    transform-origin: center;
  }
}

// Pop-up animation from center
@keyframes popupAnimation {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

// Close animation (fade & shrink)
// @keyframes closeAnimation {
//   from {
//     transform: scale(1);
//     opacity: 1;
//   }
//   to {
//     transform: scale(0.5);
//     opacity: 0;
//   }
// }
